*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# image files #
about.png
appIcon.png
cursor.png
editClear.png
fileExit.png
fileNew.png
pencil3.png
toolClear.png
toolImage.png
toolPencil.png
toolRedo.png
toolUndo.png